<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
<body>
  <h1>Xác thực email</h1>
  <p>Bấm vào link bên dưới để xác thực email: </p>
  <a href="{{webUrl}}?token={{token}}">Click here</a>
  <code>{{webUrl}}?token={{token}}</code>
</body>
</html>
